@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url("/background-darker.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.menu-item {
  font-size: 20px;
  transition: color 0.3s ease-in-out; /* Smooth color transition */
  color: white;
  font-family: "Gloria Hallelujah";
}

.menu-item:hover {
  color: #ffd700;
}
