@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url("/background-darker.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.menu-item {
  font-size: 20px;
  transition: color 0.3s ease-in-out; /* Smooth color transition */
  color: white;
  font-family: "Gloria Hallelujah";
}
.menu-item:hover {
  color: #ffd700;
}
/* HERO SECTION */
.background-hero {
  background-image: url("/pizza-hero.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
